<button>
  <a href="/users/{{userId}}">Back</a>
</button>
</div>
</div>

</div>

<div class="wholeContainer">
  <div class="stores">
  <div class="store-header">
    <div class="button primary">
      <h1>These are {{user.firstName}}'s Influencers</h1>
      <a href="/users/{{user._id}}/influencer/new">Add a Influencer</a>
    </div>
  </div>
    {{#each user.influencers}}
    <div class="influencerWrapper">
      <div>
        <img class="ifluencer" class="imageInfluencer" src="{{this.photoUrl}}" alt="broken">
      </div>
      <div class="DescriptionWrapper">
        <div>Name:
          <div>{{this.name}} </div>
        </div>
        <div>Instagram:
          <div>{{this.instagram}}</div>
        </div>
        <div>City:
          <div>{{this.location}} </div>
        </div>
      </div>
    </div>
<hr>
    {{/each}}
  </div>


  <div>
    {{#each user.influencer}} {{#each this.style}} {{this.img1}} {{this.img2}} {{/each}}
    <div>
      <a href="/users/{{../userId}}/influencer/{{../influencerId}}/style/{{this._id}}">
        banana
      </a>
    </div>
    {{/each}}
  </div>


</div>