<div class="stepper">
  <a href="/users">Home</a> /b(im from the users in dex file)
  <a href="/users/{{userId}}">Profile</a> / Influencers
</div>

<div class="store-header">
  <h1>These are {{user.firstName}}'s Influencers</h1>
  <div class="button primary">
    <a href="/users/{{user._id}}/influencer/new">Add a Influencer</a>
  </div>
</div>



<div class="stores">
  {{#each user.influencers}}
      <div>Influencers name:{{this.name}}</div>
      <div>Influencers instagram name:{{this.instagram}}</div> 
      <div>Influencers City:{{this.location}}</div>
      <div>Headshot <img src="{{this.photoUrl}}" alt="homer"></div>
      <hr>
  {{/each}}

  
</div>