 <div>
 <a href="/users/{{user._id}}/">
<button class="backBtn">Back</button>
  </a>
</div>

</div>


  <div>
    <div>
      <h1>{{user.firstName}}'s Influencers</h1>
    </div>
  </div>
  
      <a href="/users/{{user._id}}/influencer/new">
        <button class="createNewBtn">Create</button>
      </a>
  <div class="influencerWrapper">
  

    

  <div class="influencerGrid">
    {{#each user.influencers}}
    <div>
      <div>
        <img class="ifluencer" class="imageInfluencer" src="{{this.photoUrl}}" alt="broken">
      </div>
      <div class="DescriptionWrapper">
        <div>Name:
          <div>{{this.name}} </div>
        </div>
        <div>Instagram:
          <div>{{this.instagram}}</div>
        </div>
        <div>City:
          <div>{{this.location}} </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>


  </div>
  


  {{!-- <div>
    {{#each user.influencer}} {{#each this.style}} {{this.img1}} {{this.img2}} {{/each}}
    <div>
      <a href="/users/{{../userId}}/influencer/{{../influencerId}}/style/{{this._id}}">
        banana
      </a>
    </div>
    {{/each}}
  </div> --}}


