<div class="stepper">
  <a href="/users">Home</a> /
  <a href="/users/{{userId}}">Profile</a> / Influencers
</div>

<div class="store-header">
  <h1>{{user.username}}'s Influencers</h1>
  <div class="button primary">
    <a href="/users/{{userId}}/stores/new">Add a Influencer</a>
  </div>
</div>

<div class="stores">
  {{#each influencers}}
  <div class="store card">
    <a class="cancel" href="/users/{{../userId}}/stores/{{this._id}}/delete">X</a>
    <a href="/users/{{../userId}}/stores/{{this._id}}">
      <h3>{{influencers.name}}</h3>
    </a>
    <p>{{this.username}}</p>

    
  </div>
  {{/each}}
</div>