<div class="stepper">
  <a href="/users">Home</a> /
  <a href="/users/{{userId}}">Profile</a> /
  <a href="/users/{{userId}}/influencer">influencer</a> /
  <a href="/users/{{userId}}/influencer/{{influencer._id}}">{{influencer.name}}</a> / stylers
</div>

<body class='page-other'>

<div>
    <a href="/users">Home</a> / Bands We Like
</div>
    
<div class='style container'>
    <div class='style -section'>
        {{#each style}}
        <a href="/style/{{this._id}}" class='link style-bubble'>
            <div class='band-photo'>
                {{#if this.img1}}
                <img src="{{this.img1}}" alt="{{this.img1}}'s profile pic"> {{else}}
                <img src="https://media.pri.org/s3fs-public/styles/open_graph/public/story/images/Screen%20Shot%202016-07-26%20at%2012.51.16%20AM.png?itok=CbAJFbIf" alt="{{this.bandName}}'s profile pic"> {{/if}}
            </div>
           right here
        </a>
        {{/each}}
    </div>
</div>
</body>