<div class="stepper">
  <a href="/users">Home</a> /
  <a href="/users/{{userId}}">Profile</a> /
  <a href="/users/{{userId}}/influencer">influencer</a> /
  <a href="/users/{{userId}}/influencer/{{influencer._id}}">{{influencer.name}}</a> / stylers
</div>

<body class='page-other'>

<div>
    <a href="/users">Home</a> / Bands We Like
</div>
    
<div class='style container'>
    <div class='style -section'>
        {{#each style}}
        <a href="/style/{{this._id}}" class='link style-bubble'>
            <div class='band-photo'>
                {{#if this.img1}}
                <img src="{{this.img1}}" alt="{{this.img1}}'s profile pic"> {{else}}
                <img src="https://avedanos.com/wp-content/uploads/2015/06/bacon.jpg" alt="{{this.stlye}}'s profile pic"> {{/if}}
                {{#if this.img2}}
                <img src="{{this.img2}}" alt="{{this.img2}}'s profile pic"> {{else}}
                <img src="https://avedanos.com/wp-content/uploads/2015/06/bacon.jpg" alt="{{this.style}}'s profile pic"> {{/if}}
            </div>
           right here
        </a>
        {{/each}}
    </div>
</div>
</body>