<body>

  <div class="card">
    <div>
      <h2>Edit: {{user.username}}</h2>
      <form action="/users/{{user._id}}?_method=PUT" method="POST">
        <div class="form-input">
          <label for="username">Username:</label>
          <div>

            <input type="text" name="username" value="{{user.username}}" required/>
          </div>
        </div>
        <br>
        <div class="form-input">
          <label for="firstName">First Name:</label>
          <div>
            <input type="text" name="firstName" value="{{user.firstName}}" required/>
          </div>
        </div>
        <br>
        <div class="form-input">
          <label for="lastName">Last Name:</label>
          <div>
            <input type="text" name="lastName" value="{{user.lastName}}" required/>
          </div>
        </div>
        <br>
        <div class="form-input">
          <label for="Userinstagram">Instagram name:</label>
          <div>
            <input type="text" name="Userinstagram" value="{{user.Userinstagram}}" required/>
          </div>
        </div>
        <br>
        <div class="form-input">
          <div>
            <label for="twitter">Twitter name:</label>
            <div>
            <input type="text" name="twitter" value="{{user.twitter}}" />
            </div>
          </div>
        </div>
        <br>
        <div class="form-input">
          <label for="location">City:</label>
          <div>
            <input type="text" name="location" value="{{user.location}}" />
          </div>
        </div>
        <br>
        <div class="form-input">
          <label for="photoUrl">Photo:</label>
          <div>
            <input type="textarea" name="photoUrl" value="{{user.photoUrl}}" />
          </div>
        </div>
        <br>
        <div class="form-input">
          <label for="description">Description of fashion?:</label>
          <div>
            <input type="textarea" name="description" value="{{user.description}}" />
          </div>
        </div>
        <br>
        <div class="form-input">
          <label for="motto">Whats your motto?:</label>
          <div>
            <input type="textarea" name="motto" value="{{user.motto}}" />
          </div>
        </div>
        <br>
        <div class="button-container flex-end">
          <input class="button primary" type="submit" value="Update Profile">
            <a href="/users/{{user._id}}">
          <button class="buttonwarning">Cancel</button>
            </a>
        </div>
      </form>
    </div>
  </div>

</body>