<body>
  

<div class="stepper">
  <a href="/users"></a>Home</a> 
  </div>
  <div>
  <a href="/users/{{user._id}}">Profile</a>
  </div> 
</div>

<div class="card">

  <h2>Editting Contributer Profile</h2>
  <div>
    <form action="/users/{{user._id}}?_method=PUT" method="POST">
      <div class="form-input">
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{user.username}}" required/>
      </div>

      <div class="form-input">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" value="{{user.firstName}}" required/>
      </div>

      <div class="form-input">
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" value="{{user.lastName}}" required/>
      </div>
       <div class="form-input">
        <label for="Userinstagram">Instagram name:</label>
        <input type="text" name="Userinstagram" value="{{user.Userinstagram}}" required/>
      </div>

       <div class="form-input">
        <label for="twitter">Twitter name:</label>
        <input type="text" name="twitter" value="{{user.twitter}}" />
      </div>
       <div class="form-input">
        <label for="location">City:</label>
        <input type="text" name="location" value="{{user.location}}" />
      </div>

      <div class="form-input">
        <label for="photoUrl">Photo Url:</label>
        <input type="text" name="photoUrl" value="{{user.photoUrl}}" />
      </div>
      <div class="form-input">
        <label for="description">Description of fashion?:</label>
        <input type="text" name="description" value="{{user.description}}" />
      </div>
      <div class="form-input">
        <label for="motto">Whats your motto?:</label>
        <input type="text" name="motto" value="{{user.motto}}" />
      </div>

      <div class="button-container flex-end">
        <input class="button primary" type="submit" value="Update Profile">
        <a href="/users/{{user._id}}" class="button warning">Cancel</a>
      </div>
    </form>
  </div>
</div>

</body>