<body class="indexPagePic">


  <div class="stepper">
    <H1>The Contributers</H1>
   <div class="NewButton">

   <a href="/users/new">
        New Contributer
      </a>

   </div>

  </div>
<div class="wrapper">
  <div class="card">
    <div class="profile-card-container">
      <div class="user-cards">
        {{#each users}}
        <a href="/users/{{this._id}}" class="link user-card">
          <h2 style="text-align:center">{{this.username}}</h2>
          <div class="user-image">
            {{#if this.photoUrl}}
            <img src="{{this.photoUrl}}" alt="{{this.username}}'s profile photo"> {{else}}
            <img src="https://picsum.photos/200/300" alt="{{this.username}}'s profile photo"> {{/if}}
          </div>
          <div class="profile-name">
            {{this.firstName}} {{this.lastName}}
            <div class="contact">
              <p>
                <button>View Pofile</button>
              </p>
            </div>
          </div>
        </a>
        <hr> {{/each}}
      </div>
    </div>

    
    </div>
</body>